*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight:900 ;
}
.orange{
    color: #FD6E0A;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position: 23px, 48px;
}
nav{
    width:65%;
    max-width: 1140;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gap {
    display: flex;
    justify-content: space-between;
    gap: 51px;
    list-style: none;
    align-items: center;

}.gap a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.gap button{
    background-color:#FD6E0A;
    border: none;
    padding:18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    align-items: center;
    cursor: pointer;

}
.section-heading {
    max-width:827px;
    text-align: center; 
    margin:0 auto;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom:30px;
}
#banner .banner-content{
    max-width: 585px;
}
.section-heading p{
    font-size: 18px;
      margin-bottom: 30px;
    line-height: 30px;
    color: #757575;

}
#banner{
    /* border: 1px solid goldenrod; */
    margin:47px 38px 0 230px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .banner-content h2{
    font-size: 45px;
font-weight: 600;
color: #474747;
margin-bottom: 50px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818; 
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    padding-top: 130px;

}
.btn {background-color:#FD6E0A;
    border: none;
    padding:18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
.banner-image{
    max-width: 585px;
    vertical-align: middle;}



#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding : 131px 156px;
    

}
.about-info .info-card p{
    font-size:  20px;
    line-height: 30px;
    color:#757575
}
.about-info .info-card h4{
    font-size: 20px;
}
    #about .about-container .about-info{
        display: flex;
   justify-content: space-around;     
    }
    .about-info .info-card P{
        font-size: 20px;
        line-height: 30px;
        color: #757575;
    }
.about-info.info-card h6{
    font-size: 20px;
}
#skills, #resume{
    padding-top: 130px;
    /* margin: 0 auto; */

}
.skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid orange; */
    box-shadow: 0 6px 50px 0 #00000028;
    max-width: 267px;
}
.skill-card img{
    width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;

}
.skill-card p{
    font-size: 18px;
      /* margin-bottom: 30px; */
    line-height: 30px;
    color: #757575;

}
.resume-containe.hr{
    margin: 30px 0;

}
  .resume-container{
    
     margin: 113px auto 0;
    display: flex;
    gap: 24px;
     width: 81%;
    max-width: 1140px;
}
    .resume-container .section-title{
        color: #474747;
        font-size: 30px;
        margin-bottom: 30px;
    }
    .resume-card{
        max-width: 511px;
        margin-right: 47px;
    }
    .resume-card .card-title{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #474747;
    }
    .resume-card .card-info{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #757575;}
        .card-text{
            font-size: 16px;
            line-height: 28px;
            color: #757575;
        }
.text-center{
    text-align:left;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
.footer-container{
    width: 81%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container .social{
    max-width: 510px;

}
.footer-containe h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;


}
.footer-container .social P{
    color: #474747;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container .icons a{
    margin-right: 24px;

}
.footer-container  .form  input[type="text"], 
.footer-container  .form  textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;

}